[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=sh -c 'rm -f ~/.vscode-oss/extensions/extensions.json && rm -f ~/.vscode-oss/extensions/.obsolete && /usr/bin/codium --unity-launch %F'
Icon=/usr/share/codium/resources/app/resources/linux/code.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Programming;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;
NoDisplay=false

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/share/code/code --new-window %F
Icon=com.visualstudio.code
